:root {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white
}

body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-block: 0 120px;

  bold {
    font-weight: 500;
  }

  time {
    font-weight: 400;
  }
}

h2 {
  text-align: center;
  font-family: 'Delius Unicase', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: black;
  margin: 0;
  padding-block: 120px 80px;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-auto-rows: 370px;
  gap: 30px;
  margin: 0;
  padding: 0;

  button {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #E0E0E0;
    width: 40px;
    height: 40px;
    transition: 0.5s;
  }

  button:hover {
    transform: scale(1.2);
  }

  button:not(:hover) {
    opacity: 50%;
  }

  :not(:hover)>button {
    opacity: 0;
  }

  button:nth-child(2) {
    margin-left: auto;
  }

  bold,
  time {
    z-index: 1;
  }

  li {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: space-between;
    list-style-type: none;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
  }

  .heart {
    background-image: url(./images/icon-heart.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .download {
    background-image: url(./images/icon-download.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

li::before,
li::after {
  content: '';
  display: block;
  background: linear-gradient(to top, #241f24 1.04%, rgba(91, 91, 91, 0.26) 6.99%, rgba(187, 186, 192, 0) 12.29%);
  position: absolute;
  inset: 0;
  transition: 0.3s;
  pointer-events: none;
}

li::after {
  background: linear-gradient(to top, #241f24 0%, rgba(91, 91, 91, 0.45) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);
}

li:not(:hover)::before,
li:hover::after {
  opacity: 0;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.architectural {
  li:nth-child(1) {
    background-image: url(./images/1.png);
  }

  li:nth-child(2) {
    background-image: url(./images/2.png);
  }

  li:nth-child(3) {
    background-image: url(./images/3.png);
  }

  li:nth-child(4) {
    background-image: url(./images/4.png);
  }

  li:nth-child(5) {
    background-image: url(./images/5.png);
  }

  li:nth-child(6) {
    background-image: url(./images/6.png);
  }
}

.life {
  li:nth-child(1) {
    background-image: url(./images/7.png);
  }

  li:nth-child(2) {
    background-image: url(./images/8.png);
  }

  li:nth-child(3) {
    background-image: url(./images/9.png);
  }

  li:nth-child(4) {
    background-image: url(./images/10.png);
  }

  li:nth-child(5) {
    background-image: url(./images/11.png);
  }

  li:nth-child(6) {
    background-image: url(./images/12.png);
  }
}

.portrait {
  li:nth-child(1) {
    background-image: url(./images/13.png);
  }

  li:nth-child(2) {
    background-image: url(./images/14.png);
  }

  li:nth-child(3) {
    background-image: url(./images/15.png);
  }

  li:nth-child(4) {
    background-image: url(./images/16.png);
  }

  li:nth-child(5) {
    background-image: url(./images/17.png);
  }

  li:nth-child(6) {
    background-image: url(./images/18.png);
  }

  li:nth-child(7) {
    background-image: url(./images/19.png);
  }

  li:nth-child(8) {
    background-image: url(./images/20.png);
  }

  li:nth-child(9) {
    background-image: url(./images/21.png);
  }

  li:nth-child(10) {
    background-image: url(./images/22.png);
  }
}